{% extends 'layout.html' %}
{% block content %}
    <div style="background-color: #ffffcc; padding: 20px;">
        <h1 style="text-align: center;">Welcome To The Maths World!</h1>
        <h2 style="text-align: center;"><strong>Please click on the menu at the top right corner for navigation</strong></h2>
    </div>
<p style="text-align: center;">Mathematics is a breathtaking symphony of logic, creativity, and precision that unveils the hidden patterns woven into the fabric of our universe. With its elegant formulas and intricate structures, mathematics serves as the universal language that transcends cultural boundaries. From the graceful curves of a parabola to the mesmerizing dance of prime numbers, the beauty of mathematics lies in its ability to unravel the mysteries of the cosmos, inviting us to explore the wonders of both the known and the undiscovered. It is a timeless art form that not only enriches our understanding of the world but also sparks the imagination, offering a profound appreciation for the harmonious elegance inherent in every mathematical revelation</p>
{% endblock %}

